.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.md-form .prefix ~ label {
  margin-left: 2.5rem;
}

.md-form label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transform-origin: 0% 100%;
  transform: translateY(12px);
  cursor: text;
  color: #757575;
}

.md-form label {
  font-size: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 300px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.account-name-title {
  font-size: 15px;
}
.btn-circle {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset;
}

.btn-circle:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset;
}

.account-balance {
  font-family: "Unica One", cursive;
  font-size: 20px;
}
.account-balance-key {
  font-family: "Orienta", sans-serif;
  font-size: 20px;
}
.account-balance-values {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
}

.account-balance-values {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
}
.account-tag{
  font-size: 12px;
  font-family: 'Kreon', serif;
  color: white;
  background-color: #0B4648;
  border: none;
  border-radius: 25px;
}
.account-balance-inventory {
  font-family: 'Kreon', serif;
  font-size: 20px;
}
.account-balance-description {
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  
}
